<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.1.8" targetFramework="net35-Client" />
  <package id="Magick.NET-Q16-x86" version="6.8.5.401" targetFramework="net35-Client" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net35-Client" />
</packages>